<div class="container-img">

  <img src="./assets/welcome.jpg" alt="" width="90%" height="40%"  class="img-principal">
  
  <!-- <img src="./assets/venetian.jpg" alt="" width="90%" height="40%"  class="img-principal"> -->
  
</div>
  <div class="container">
    <p class="home__paragraph mt-5 fw-bold bg-primary text-light">THAT IT THE QUESTION SERVICE ENGINEERING</p> <hr>

  
    <h2 class="fs-1 fw-bold text-warning 
     mt-5 text-center shadow-lg p-3 mb-5 bg-light rounded ">Question Chat</h2>
    <form #f="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <h4 class="text-center fw-bold ">That is the Question</h4>
          <div class="input-group mb-3">
            <input
              type="text"
              name="prompt"
              class="form-control"
              id="prompt"
              [(ngModel)]="prompt"
              required
            />
            <div class="input-group-append ms-5 pt-3">
              <button
                class="btn btn-warning fs-5 me-4"
                type="submit"
                [disabled]="!f.valid"
              >
                Enviar
              </button>
              <button
                class="btn btn-info fs-5"
                type="button"
                (click)="resetPrompt()"
              >
                Reset
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class=" justify-content-center row">
        <div class="col-md-6">
          <h4 class="text-center fs-7 fw-bold">Summary</h4>
          <div class="input-group mb-3">
            <textarea
              name="content"
              id="content"
              rows="4"
              [(ngModel)]="content"
              class="form-control"
            ></textarea>
          </div>
          <div class="col-md-6">
            <div class="input-group-append mt-auto ">
              <button style="margin-left:200px" class="btn btn-info fs-5 text-center" type= "button"(click)="resetContent()">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

