
.container-img {
  
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}  

  

.mco{
  display: flex;
 position: absolute;
  z-index: 2;
  width: 102vw;
  height: 87vh;

  margin-top: 70px;
  padding: 2em 1em;
  
}


.home__paragraph{
  text-align: center;
  padding-top: 20px;
  font-size: xx-large;
  font-weight: 700;
}

span{
  background-color: black;
}

  .col{
    margin-left: 10%;

  }
  #equipo-datos {
    padding-top: 20px;
  }

  #prompt {
    width: 250px;
    height: 100px;
  }