<div class="equipo-container">
    <h1 class="mt-5 bg-light ">QUESTION CHAT CONTACT</h1> <hr>
<figure class="main__figure ">
    
    <img src="./assets/dog.png "  class="main__img  " >
    
</figure>

<article class="main__texts">

    <h2 class="main-title text-center bg-primary ">CONTACT QUESTION CHAT</h2> <hr>
   <ul class="main__paragraph bg-light my-4 px-3 text-center text-primary fs-3">
    <li>STREET: Pº de la Catellana Nº 91 Planta 33 28001-MADRID (SPAIN). </li>
    <li> EMAIL: thatisthequestion@questionchat.com. </li>
    <li>WEB: www.that is the question.</li>
    <li>PHONE: +34-91-875-4546</li>
   </ul>


   
</article>
</div>