
<footer class="container-footer p-4 rounded">
  <div class="d-lg-flex justify-content-between">
    <div>
      <span class="badge bg-primary text-wrap" style="width: 6rem;">THAT IS THE QUESTION</span>
    </div>
    <div class="copyright">
      <p> &copy; 2023 developed and maintained by <a href="#inicio" target="_blank">QUESTION CHAT</a></p>
    </div>
    <div class="redes">
      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-skype"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      <a href="#"><i class="fa-solid fa-rss"></i></a>
      <a href="#"><i class="bi bi-github"></i></a>
      
  </div>
  </div>
</footer>










