 #container-navbar {
    
    width: 100%;
    max-width: 1200px;
    max-height: 50%;
    overflow: hidden;
    padding: auto;
   
  }

  #menu a, button {
    font-size: 25px !important;
    font-weight: 700;
  }
  
  #menu a {
      color: #3f3f3f;
  }
  
  
  

  


