
.main__texts{
    border: 2px solid salmon;
    margin: 20px 40px;
    text-align: center;
    font-size: 24px;
    background-color: #FF7A59 ;
    
    border-radius: 20px;
}



.main__paragraph {
    padding: 1rem 2rem;
    font-weight: 700;
}
.main__title {
    color: #fff;
    font-weight: 700;
}

  