<img src="./assets/venetian.jpg" alt="" width="100%" height="40%"  class="img-principal"> <hr>

<div class="main__texts">

    <h1 class="main__title"> Make remote work</h1> 
    <h3 class="main__subtitle fw-bold">That is the question: Service Engineering?</h3><hr>
    <p class="main__paragraph"> 
        
        
      "Hey there! I wanted to share a thought with you today. Self-esteem and personal development are like two sides of the same coin. <strong> When we believe in ourselves and our potential, </strong>it becomes the foundation for growth and self-improvement.
        
        Remember, it's okay to have doubts and setbacks along the way; they are a natural part of the journey. What truly matters is how we respond to them. Each challenge we overcome, each step we take out of our comfort zone, and each small achievement builds our self-esteem and pushes us closer to becoming the best version of ourselves.
        
        So, let's embrace our uniqueness, believe in our abilities, and keep working towards our goals. You've got this, and I'm here to support you every step of the way. 😊🌟"
        
    </p>
    <a routerLink="/inicio" class="main__cta">Learn more about our services</a>

  </div>
