<body>
    <div class="Gallery">
        <h1 class="text-h1 text-teal fw-bold border-info">OUR PERSONAL GROWTH SERVICES</h1> <hr>
        <div class="line"></div>
        <div class="container-images">
            <div class="image">
                <img src="./assets/Img-Dashboard/aire.png" alt="">
                <div class="overlay">
                    <h2>Aromatherapy is a therapeutic practice that uses essential oils extracted from aromatic plants.</h2>
                </div>
            </div>
            <div class="image">
                <img src="./assets/Img-Dashboard/stress.jpg" alt="">
                <div class="overlay">
                    <h2>Personal or group solutions for stress</h2>
                </div>
            </div>
            <div class="image">
                <img src="./assets/Img-Dashboard/lotus.jpg" alt="">
                <div class="overlay">
                    <h2>High performance health centers</h2>
                </div>
            </div>
            <div class="image">
                <img src="./assets/Img-Dashboard/cinnamon.jpg" alt="">
                <div class="overlay">
                    <h2>Natural health treatments</h2>
                </div>
            </div>
            <div class="image">
                <img src="./assets/Img-Dashboard/meditate.jpg" alt="">
                <div class="overlay">
                    <h2>Only the best places for you and your team</h2>
                </div>
            </div>
            <div class="image">
                <img src="./assets/Img-Dashboard/masala.jpg" alt="">
                <div class="overlay">
                    <h2>Ayurveda, memory of your happiness</h2>
                </div>
            </div>
            <div class="image">
                <img src="./assets/Img-Dashboard/man.jpg" alt="">
                <div class="overlay">
                    <h2>Let yourself be loved by our team</h2>
                </div>
            </div>
            <div class="image">
                <img src="./assets/Img-Dashboard/playa.jpg" alt="">
                <div class="overlay">
                    <h2>All-inclusive prices, guaranteed success</h2>
                </div>
            </div>
            <div class="image">
                <img src="./assets/Img-Dashboard/hand.jpg" alt="">
                <div class="overlay">
                    <h2>The dreams that are part of you</h2>
                </div>
            </div>
            <div >
                
                    <h2 class="enginer text-center mt-4">MEET OUR TEAM.</h2> <hr>
                    <p class="text-paragraph mt-4 py-3 px-3  fw-bold">1. Support Groups: Create a support group where people can share their stress-related experiences and challenges. You can provide a safe and supportive space for participants to connect and learn stress management techniques.

                        2. Meditation and relaxation sessions: organize meditation and/or relaxation sessions where participants can learn and practice different techniques to reduce stress. You can offer instructions and guide participants through breathing exercises, visualizations, and muscle relaxation.
                        
                        3. Workshops and educational talks: organize workshops and educational talks where experts in stress management and personal growth can share strategies and tools to deal with stress in a healthy way. These events may include topics such as time management, self-compassion, self-care, and resilience. <a routerLink="/contact" class="main__cta">Learn more about our services</a></p>
                        
            </div> 
        </div>
    </div>
</body>
