
<body>
    <h1 class="text-primary fw-5 mt-5 bg-light text-center equipo-body">STABLE BROADCAST TEAM</h1> <hr>
    <header class="hero">
        <figure class="header__figure">
            <img src="./assets/img4.jpg"  class="header__img">
        </figure>
        <article class="header__texts">

            <h2 class="header__title ">Engineering, Software Development, Design, Commercial</h2> <hr>
            <p class="header-paragraph bg-light">"THAT IS THE QUESTION the Brilliant Team of Software Development and Engineers: Pioneers of Innovation"

                On the stage of the digital age, a group of exceptional individuals stand out as the true visionaries and builders of tomorrow. They are the software development team and engineers, a collection of brilliant and creative minds who constantly challenge the limits of technology to drive innovation and improve our lives.</p>
            
        </article>

        
    </header>

    <figure class="img-figure">
        <img src="./assets/img3.jpg"  class="figure__img">
    </figure> <hr>

    <main class="main container">

        <figure class="main__figure mt-5">
            <img src="./assets/pantallas.svg"  class="main__img">
        </figure>

        <article class="main__texts">

            <h2 class="main title pt-4">Software Professionals</h2>
            <p class="main__paragraph bg-light px-3 ">These professionals are not only experts in programming languages and algorithms, but they are also architects of digital dreams. His ability to translate abstract ideas into concrete solutions is amazing. Every line of code they write is a piece in the puzzle of the technological revolution we are witnessing.</p>
            
        </article>

        <figure class="main__figure">
            <img src="./assets/viaje.svg"  class="main__img">
        </figure>

        <article class="main__texts">

            <h2 class="main title">Commercial Department</h2>
            <p class="main__paragraph bg-light px-3 ">The dedication and passion this team brings to their work is truly inspiring. Every day, they face unique and complex challenges, and in each one they see an opportunity to learn and grow. They are the perfect example of resilience and perseverance in an ever-changing world.</p>
            
        </article>
    </main>

</body>

    
